html,
body {
    height: 100%;
    width: 69.5%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left img {
    height: 63px;
    width: 115px;
    margin-top: 7px;
}

#navbar{
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 10px rgb(237, 237, 237);
    position: fixed;
    top: 0;
}

nav ul {
    margin-left: -45px;
}

nav ul li {
    list-style: none;
    padding: 0px 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.right {
    margin-top: 17px;
    margin-left: 25px;
}
.search {
    height: 15px;
    width: 16px;
    padding: 1px;
    padding-top: 5px;
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 15px;
    background:transparent;
}
button{
    margin-top: 2px;
    margin-left: 3px;
    height: 35px;
    border: 0;
    background: transparent;
    /* border: 2px solid blue; */
}
.input {
    height: 34px;
    width: 340px;
    padding-top: 3px;
    font-size: 13px;
    outline: none;
    border: 0;
    /* flex: 1; */
    background: transparent;
}

.rightsearchbar {
    background-color: rgb(238, 238, 238);
    /* background-color: rgb(255, 0, 0); */
    height: 40px;
    padding: 2px;
    border-radius: 10px;
    margin-top: -10px;
}
.logo {
    height: 23px;
    width: 23px;
    margin-top: -5px;
    margin-left: 35px;
    margin-right: -5px;
    justify-content: space-between;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: 22px;
    margin-left: -24px;
    padding: 0px;
}

#subheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: 22px;
    margin-left: -16px;
    padding: 0px;
}
header{
    padding-bottom: 9px;
    padding-top: 9px;
}

.invite{
    margin-top: 92px;
    width: 207%;
}
.section2{
    margin-left: -70px;
}
.home{
    width: 177%;
    margin-bottom: -4px;
} 
#home1{
    margin-top: 25px;
}
footer{
 margin-top:20px;
 margin-left: 100px;
 width: 180%;
}
.foothead{
    margin-right: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}
.footbottom{
    margin-right: 50px;
    padding: 10px;
    font-size: 12px;
    margin-top: -58px;
    margin-left: 102px;
}
.one{
    font-size: 15px;
    font-weight: bold;
}

.two{
    font-weight: 400;
    font-size: 15px;
    color: rgb(127, 127, 127);
}
.original{
    height: 50px;
    width: 60px;
    margin-top: 5px;
    margin-left: 80px;
}

.list1{
    /* border: 2px solid red; */
    list-style: none;
    padding-left: 10px;
    color: rgb(127, 127, 127);
    /* margin-top: -10px; */

}

#footlist1{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

#footlist2{
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.list2{
    /* border: 2px solid red; */
    list-style: none;
    padding-left: 10px;
    margin-right: 3px;
    margin-left: 10px;
    color: rgb(127, 127, 127);
    /* margin-top: -10px; */
}
.list3{
    list-style: none;
    padding-left: 10px;
    margin-right: 3px;
    margin-left: 55px;
    margin-top: 16px;
    font-size: 12px;
    font-weight: bold;
}
.list4{
    /* border: 2px solid red; */
    list-style: none;
    padding-left: 10px;
    margin-left: -16px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
}
.downloads{
    flex-wrap: wrap;
}

.download{
    height: 55px;
    width: 167px;
    margin-left: -7px;
}

#contact{
    height: 42px;
    width: 162px;
    margin-top: 7px;
    margin-left: -7px;
}
#return{
    height: 50px;
    width: 60px;
    margin-top: 5px;
    margin-left: 42px;
}
.footer{
    margin-top: 18px;
}
.foothead{
    margin-right: 50px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.links{
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.searches{
    margin-top: 13px;
    margin-left: 9px;
    font-size: 12px;
    font-weight: bold;
}

#line{
    width: 88%;
    margin-left: 3px;
    margin-top: -8px;
    opacity: 0.05;
}
.searchcontent{
    margin-left: 9px;
    font-size: 15px;
    color: rgb(127, 127, 127);
}

.end{
    margin-left: 8px;
    font-size: 15px;
    color: rgb(127, 127, 127);

}
#end{
    color:rgb(75, 126, 223);
    font-weight: 700;

}

.copyright{
    margin-left: 51%;
}


#endline{
    width: 102%;
    margin-left: -7px;
    opacity: 0.05;
    margin-bottom: 20px;
}